assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
.svn
.settings
.buildpath
.project
install_lodop32.exe
install_lodop64.exe
log/*
uploads/*